name: Build NekoBox APK

on:
  workflow_dispatch:
    inputs:
      tag:
        description: "Release Tag"
        required: true
      publish:
        description: "Publish: Set to 'y' to skip publishing"
        required: false

jobs:
  clone:
    name: Clone NekoBox Repository
    runs-on: ubuntu-latest
    steps:
      - name: Checkout NekoBox Source
        uses: actions/checkout@v4
        with:
          repository: MatsuriDayo/NekoBoxForAndroid
          ref: main
          path: nekobox-source

      - name: Upload Source Code
        uses: actions/upload-artifact@v4
        with:
          name: nekobox-source
          path: nekobox-source
          retention-days: 1

  libcore:
    name: Native Build (LibCore)
    runs-on: ubuntu-latest
    needs: clone
    steps:
      - name: Download Source Code
        uses: actions/download-artifact@v4
        with:
          name: nekobox-source
          path: .

      - name: Setup Working Directory
        run: |
          mv nekobox-source/* ./
          mv nekobox-source/.* ./ 2>/dev/null || true
          ls -la

      - name: Golang Status
        run: find buildScript libcore/*.sh | xargs cat | sha1sum > golang_status

      - name: Libcore Status
        run: git ls-files libcore | xargs cat | sha1sum > libcore_status

      - name: LibCore Cache
        id: cache
        uses: actions/cache@v4
        with:
          path: |
            app/libs/libcore.aar
          key: libcore-${{ hashFiles('.github/workflows/*', 'golang_status', 'libcore_status') }}

      - name: Install Golang
        if: steps.cache.outputs.cache-hit != 'true'
        uses: actions/setup-go@v5
        with:
          go-version: ^1.25
          cache: false

      - name: Native Build
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          chmod +x ./run
          ./run lib core

  build:
    name: Build OSS APK
    runs-on: ubuntu-latest
    needs: libcore
    steps:
      - name: Download Source Code
        uses: actions/download-artifact@v4
        with:
          name: nekobox-source
          path: .

      - name: Setup Working Directory
        run: |
          mv nekobox-source/* ./
          mv nekobox-source/.* ./ 2>/dev/null || true
          ls -la

      - name: Golang Status
        run: find buildScript libcore/*.sh | xargs cat | sha1sum > golang_status

      - name: Libcore Status
        run: git ls-files libcore | xargs cat | sha1sum > libcore_status

      - name: LibCore Cache
        uses: actions/cache@v4
        with:
          path: |
            app/libs/libcore.aar
          key: libcore-${{ hashFiles('.github/workflows/*', 'golang_status', 'libcore_status') }}

      - name: Gradle cache
        uses: actions/cache@v4
        with:
          path: ~/.gradle
          key: gradle-oss-${{ hashFiles('**/*.gradle.kts') }}

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Gradle Build
        env:
          BUILD_PLUGIN: none
        run: |
          echo "sdk.dir=$ANDROID_HOME" > local.properties
          echo "ndk.dir=$ANDROID_HOME/ndk/25.0.8775105" >> local.properties
          chmod +x ./run
          chmod +x ./gradlew
          ./run init action gradle
          ./gradlew app:assembleOssRelease
          APK=$(find app/build/outputs/apk -name '*arm64-v8a*.apk')
          APK=$(dirname $APK)
          echo "APK=$APK" >> $GITHUB_ENV

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: APKs
          path: ${{ env.APK }}

  publish:
    name: Publish Release
    if: github.event.inputs.publish != 'y'
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout Current Repository
        uses: actions/checkout@v4

      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          name: APKs
          path: artifacts

      - name: Release
        run: |
          wget -O ghr.tar.gz https://github.com/tcnksm/ghr/releases/download/v0.13.0/ghr_v0.13.0_linux_amd64.tar.gz
          tar -xvf ghr.tar.gz
          mv ghr*linux_amd64/ghr .
          mkdir apks
          find artifacts -name "*.apk" -exec cp {} apks \;
          ./ghr -delete -t "${{ github.token }}" -n "${{ github.event.inputs.tag }}" "${{ github.event.inputs.tag }}" apks
